{% extends "base.html" %}
{% block title %}{{ problem.title }} - EasyOJ{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/codemirror/easyoj-editor.css') }}">
<script src="{{ url_for('static', filename='vendor/codemirror/easyoj-editor.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/code_workspace.js') }}" defer></script>
{% endblock %}
{% block content %}
{% set supported_languages = config['SUPPORTED_LANGUAGES'] %}
{% set workspace_key = 'problem:' ~ problem.id %}
{% set submit_action = url_for('web.problem_submit', problem_id=problem.id) %}
{% set run_url = url_for('api.api_practice_run', problem_id=problem.id) %}
{% set workspace_context_label = t('workspace.practice') %}
{% include 'problems/_workspace.html' %}
{% endblock %}
