{% extends "base.html" %}
{% block title %}{{ t('workspace.submit_solution') }} - {{ problem.title }} - {{ config['SITE_NAME'] }}{% endblock %}
{% block extra_head %}{% include 'problems/_workspace_head.html' %}{% endblock %}
{% block content %}
{% set workspace_key = 'problem:' ~ problem.id %}
{% set submit_action = url_for('web.problem_submit', problem_id=problem.id) %}
{% set run_url = url_for('api.api_practice_run', problem_id=problem.id) %}
{% set workspace_context_label = t('workspace.submit_solution') %}
{% include 'problems/_workspace.html' %}
{% endblock %}
